.submitButton {
    color: #fff;
    background: #69B957;
    border: none;
    padding: .5em 3em;
    border: 1px solid #69B957;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    /* margin-right: 60px; */
    outline: none;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
      font-family: 'Open Sans', sans-serif;
}
.submitButton:hover {
    background-color: #4a843b;

}
