.form-header{
    /* height: 10vh; */
    position: fixed;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
}


.Header-logo-login {
    font-size: 7.5vh;
    font-family: 'Satisfy', cursive;
    color:white;
}

.logoImage {

}
