.linky {
    width: 100%;
    padding: 20px;
    outline: 0;
    background-color: white;
    border-style: none;
}
.sidy {
    margin-top: 50px;
    width: 200px;
    height: 123px;
}
@media only screen and (max-width: 745px) {
    .sidy {
        height: 175px;
    }
}

.marginCorrection {
  margin-top:  0px;
  height: 100%;
}
.linky:hover {
  background-color: #3b9b3b;
  color: white;

}

.hamburger{
  margin-top: 0px;
}
