.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1%;
    border-top: 1px solid black;
    opacity:0.63;
}
.footerItem1 {
    display: flex;
    flex-direction: column;
}
/* .whiteLine {
    border-bottom: 1px solid black;
    height: 1px;
    margin-bottom: 2%;
} */
.footerItem1LinksContainer {
    display: flex;
    margin-bottom: 3%;
}
.footerItem1Link {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: black;
    text-decoration: none;
    margin-right:6%;
}
.footerItem2 {
    display: flex;
}
.footerItem2Link {
    /* height: 21px; */
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: black;
    text-decoration: none;
    margin-right:5%;
}
/* @media only screen and (max-width: 1200px) {
    .footerItem1Link{
        font-size: 16px;
    }
    .footerItem2Link{
        font-size: 14px;
    }
    .footerItem1LinksContainer {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    .footerItem2{
        width:50%;
        justify-content: space-between;
    }
} */