.active{
    font-weight: bold;
    background-color: white;
}
.pagination-status li{
    display:inline;
    border: 1px solid black;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
}
.pagination-status{
    padding-left:0;
    padding-top:15px;
}
.table{
    /* border:4px solid red; */
    border-collapse: collapse;
    border-spacing: 0;

}
.table-header{
    color: white;
     background-color:black;
     border: 1px solid black;
     font-weight: 100;
}



td{
    border:1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    padding:5px;
    text-align: center;
    font-weight: 100;

}


.react-pagination-table{
    overflow-x:auto;
    display:flex;    
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:10px;
    box-shadow:0px 0px 10px;
    
    /* align-items: center; */
}

th{
    border:1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    padding:5px;
    text-align: center;
    background-color:black;
    color:white
}
.Edit{
    border:0;
}

.EditIcon{
    height:60%;
    width:60%;
}
.Delete{
    border:0;
}

.DeleteIcon{
    height:100%;
    width:100%;
}
.Suspend{
    border:0;
}
.SuspendIcon{
    height:50%;
    width:50%;
}
.SuspendDisabled{
    height:50%;
    width:50%;
    opacity:0.5;
}
.Cancel{
    border:0;
}

.CancelIcon{
    height:50%;
    width:50%;
}
@media (max-width:768px){
    .EditIcon{
        height:100%;
        width:100%;
    }
    .DeleteIcon{
        height:100%;
        width:100%;
    }
    .SuspendIcon{
        height:60%;
        width:60%;
    }
    .CancelIcon{
        height:80%;
        width:80%;
    }
}