.active{
    font-weight: bold;
    background-color: white;
}
.pagination-status li{
    display:inline;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding:7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    background-color: #69B957;
    color:white;
    font-weight: lighter;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2)
}
.pagination-status{
    padding-left:0;
    padding-top:15px;
    background-color: white;

}
.table{
    /* border:4px solid red; */
    border-collapse: collapse;
    border-spacing: 0;
    border-style: none;
    width:100%;
    min-height: 300px;
    height: 55vh;
    /* margin-top: 20px; */
    font-family: 'Open Sans', sans-serif;

}
.table-header{
    color: white;
     background-color:black;
     /* border: 1px solid black; */
     /* font-weight: 100; */
     /* height: 50px; */
     /* padding-top: 10px; */
}



td{
    /* border:1px solid black; */
    border-collapse: collapse;
    border-spacing: 0;
    padding:5px;
    text-align: center;
    font-weight: 100;
    vertical-align: middle;

}


.react-pagination-table{
    overflow-x:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: #69B957;

    /* align-items: center; */
}

th{
    /* border-collapse: collapse;
    border-spacing: 0; */
    /* margin-top: 40px; */
    text-align: center;
    background-color:#69B957;
    color:white;
    height: 40px;
    vertical-align: middle;
}



.Delete{
    border:0;
    background-color:inherit;
}

.DeleteIcon{
    height:100%;
    width:100%;
}
.Suspend{
    border:0;
    background-color: inherit;
}
.SuspendIcon{
    height:50%;
    width:50%;
}
.SuspendDisabled{
    height:50%;
    width:50%;
    opacity:0.5;
}
.CancelDisabled{
    height:70%;
    width:70%;
    opacity:0.5;
}
.Cancel{
    border:0;
    background-color: inherit;
      padding-top: 20px;
}

.Edit{
  background-color: inherit;
  border:0;
  /* padding-top: 20px; */
}

.EditIcon{
  height:60%;
  width:60%;
}

.CancelIcon{
    height:70%;
    width:70%;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: white;
}
@media (max-width:768px){
    .EditIcon{
        height:100%;
        width:100%;
    }
    .DeleteIcon{
        height:100%;
        width:100%;
    }
    .SuspendIcon{
        height:60%;
        width:60%;
    }
    .CancelIcon{
        height:80%;
        width:80%;
    }
}
