.active{
    font-weight: bold;
    background-color: white;
}
.pagination-status li{
    display:inline;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding:7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    background-color: #69B957;
    color:white;
    font-weight: lighter;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2)
}
.pagination-status{
    padding-left:0;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0px;
}

.clearfix{
  padding-bottom: 0px;
}
.table{
    border-collapse: collapse;
    border-spacing: 0;
    border-style: none;
    width:100%;
    overflow: scroll;
    font-family: 'Open Sans', sans-serif;
}
.table-header{
    color: white;
     background-color:black;
}


td{
    /* border:1px solid black; */
    border-collapse: collapse;
    border-spacing: 0;
    padding:15px;
    text-align: center;
    font-weight: 100;
    vertical-align: middle;

}




.react-pagination-table{
    overflow-x:scroll;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: #69B957;
    /* min-height: 300px; */
    /* height: 55vh; */

}

th{
    text-align: center;
    background-color:#69B957;
    color:white;
    height: 40px;
    vertical-align: middle;
}
tr{
  width: 100%;

}


.react-pagination-table tr{
  max-height: 80px;
}

.Delete{
    border:0;
    background-color:inherit;
}

.DeleteIcon{
    height:100%;
    width:100%;
    min-height: 20px;
    min-width: 20px;
}
.Suspend{
    border:0;
    background-color: inherit;
}
.SuspendIcon{
    height:50%;
    width:50%;
    min-height: 20px;
    min-width: 20px;
}
.SuspendDisabled{
    height:50%;
    width:50%;
    opacity:0.5;
}
.CancelDisabled{
    height:70%;
    width:70%;
    opacity:0.5;
    min-height: 20px;
    min-width: 20px;
}
.Cancel{
    border:0;
    background-color: inherit;
      padding-top: 20px;
}

.Edit{
  background-color: inherit;
  border:0;
}

.EditIcon{
  height:60%;
  width:60%;
  min-height: 20px;
  min-width: 20px;
}

.CancelIcon{
    height:70%;
    width:70%;
    min-height: 20px;
    min-width: 20px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: white;
}
@media (max-width:1208px){
  .table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media (max-width:768px){

    .react-pagination-table{
      font-size: 12px;
    }
    .clearfix{
      width: 100%;
    }
    .EditIcon{
        height:100%;
        width:100%;
    }
    .DeleteIcon{
        height:100%;
        width:100%;
    }
    .SuspendIcon{
        height:60%;
        width:60%;
    }
    .CancelIcon{
        height:80%;
        width:80%;
    }
}
