.login{
    width:30%;
    height:40vh;
    margin:auto;
    border-radius:10px;
    background-color: black;
    /* display:flex;
    flex-direction: column; */
    /* box-shadow:0px 2px 13px #333333  */
}
@media only screen and (max-width: 800px) {
    .login {
       width:70%;
    }
}