.login-body{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    height:100%;
    border-radius:5px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.5;
    letter-spacing: 0.1px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.login-field{
    width:80%;
    border-width: 0px 0px 2px 0px;
    outline: none;
}

.login-button{
  width:80%;
  border-width: 0px 0px 2px 0px;
  outline: none;
  height: 15%;
  background-color:#48bc48;
  color:white;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login-button-link{
    display: flex;
    width:100%;
    height:100%;
    text-decoration-line: none;
    justify-content: center;
    align-items: center
}
